.CommentBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightsalmon;
    width: 50vw;
    margin: 0 auto;
    padding: 15px;
}