.menu {
    width: 100vw;
    background-color: lightblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu li{
    list-style: none;

}
.menu a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}
.menu a:hover{
    color: #383838;
}